body{
	background-image: url(#{resource['imagens:fundo.jpg']});
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td, th{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

img {
	border:0px;
}

#divGeralTemplate{
/*	border: 1px solid; */
	width: 1007px;
	margin:0 auto;
	text-align:left;
}

#divCentroTemplate{
/*	border: 1px solid; */
	width: 1000px;
	float: left;
}

#menu{
/*	border: 1px solid; */
	background-color:#FFFFFF;
	width: 1000px;
}

#corpo{
/*	border: 1px solid; */
	background-color:#FFFFFF;
	width: 1000px;
}

#rodape{
/*	border: 1px solid; */
	background-color:#FFFFFF;
	width: 1000px;
}

.ui-picklist .ui-picklist-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:auto;
    height:200px;
    width:250px;
}
